*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: black;
}
html,
body{
    height: 100%;
    width: 100%;
}

body{
  background-color: FFFFF3;
}

.navbar {
  height: 100px;
  width: 100%;
  background-color: #fff0f3;
}

.navbar img{
  height: 90px;
  padding: 8px;
}